/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
img{
  width: 200px;
}
body{
  position: relative;
  background-image: url('img/tableTop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: yellow;
}
button{
  padding: 10px

}

.hidden{
  display: none;
}
.hit{
  margin: auto 20px;
}
.buttons{
  padding-top: 40px;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
